/* 
    Document   : acesso
    Created on : 12/11/2011, 09:38:50
    Author     : Destroyer
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#geral #body{
    height: 650px; 
}

