<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/agenda</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">123</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.connection.pool_size">2</property>
    <mapping class="br.com.agenda.Model.Usuario"/>
    <mapping class="br.com.agenda.Model.Acesso"/>
    <mapping class="br.com.agenda.Model.LogAcesso"/>
    <mapping class="br.com.agenda.Model.LogErro"/>
    <mapping class="br.com.agenda.Model.Menu"/>
    <mapping class="br.com.agenda.Model.Parametro"/>
    <mapping class="br.com.agenda.Model.Auditoria"/>    
    <mapping class="br.com.agenda.Model.Agenda"/>
    <mapping class="br.com.agenda.Model.Anexo"/>
    <mapping class="br.com.agenda.Model.Cargo"/>
    <mapping class="br.com.agenda.Model.CargoHistorico"/>
    <mapping class="br.com.agenda.Model.Cidade"/>
    <mapping class="br.com.agenda.Model.Data"/>
    <mapping class="br.com.agenda.Model.Demanda"/>
    <mapping class="br.com.agenda.Model.Lembrete"/>       
    <mapping class="br.com.agenda.Model.Ligacoes"/>
    <mapping class="br.com.agenda.Model.Pessoa"/>
    <mapping class="br.com.agenda.Model.RecebidaEfetuada"/>
    <mapping class="br.com.agenda.Model.Setor"/>
    <mapping class="br.com.agenda.Model.Uf"/>
    <mapping class="br.com.agenda.Model.Unidade"/>    
  </session-factory>
</hibernate-configuration>
